.carousel__container{
    width: 90%;
    height: 35vh;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news__container{
    width: 90%;
    height: 60vh;
    background-color: #212529;
    margin: 2rem auto;
}
